html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 24, 47);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343f4f;
}

#logosource {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  position: fixed;
  transition: 1s;
  border-collapse: collapse;
  z-index: 2;
}

#sidenavigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(10, 24, 47);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(2, 7, 17);
  left: 0;
  transition: 1s;
  z-index: 1;
}

#sidenavigation a {
  float: right;
  display: block;
  color: aliceblue;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#sidenavigation a.active {
  background-color: rgb(10, 24, 47);
  color: aliceblue;
  border: 1px solid transparent;
  border-radius: 2px;
  border-style: hidden;
  border-color: aliceblue;
}

#sidenavigation a:hover:not(.active) {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  color: aliceblue;
}

#mySidenav a {
  margin-top: 100px;
  position: fixed;
  left: -240px;
  transition: 0.3s;
  padding: 10px;
  width: 250px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#shome {
  top: 20px;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}
#saboutme {
  top: 70px;
  color: #555;
  background-color: aliceblue;
}
#sexperience {
  top: 120px;
  color: #555;
  background-color: aliceblue;
}
#sprojects {
  top: 170px;
  color: #555;
  background-color: aliceblue;
}
#scurrentprojects {
  top: 220px;
  color: #555;
  background-color: aliceblue;
}
#scertifications {
  top: 270px;
  color: #555;
  background-color: aliceblue;
}
#scontactme {
  top: 320px;
  color: #555;
  background-color: aliceblue;
}

#title-tag {
  padding: 150px;
  color: aliceblue;
}

#pre {
  color: antiquewhite;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#main h1 {
  color: rgb(202, 234, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  font-weight: 600;
  color: aliceblue;
  line-height: 1.1;
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

#sub {
  font-family: "Times New Roman", serif;
  box-sizing: inherit;
  font-weight: 100;
  color: rgb(79, 109, 129);
  line-height: 1.1;
  margin: 0px;
  font-size: 80px;
}

#profile {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: slategrey;
  font-size: medium;
  max-width: 800px;
}

.subtitle-div {
  padding: 0px 150px 0px 150px;
  transition-delay: 400ms;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-justify: auto;
  color: rgb(204, 204, 204);
  font-size: medium;
  line-height: 1.3;
  box-sizing: inherit;
  margin: 20px 0px 0px;
}

.link {
  padding-bottom: 200px;
}

.profile_picture {
  float: right;
  width: 250px;
  margin: 0;
  transition: 0.2s;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  border-radius: 8px;
}

.profile_picture:hover {
  float: right;
  width: 250px;
  margin: 0;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
  filter: grayscale(0%);
  transform: translate(-1%, -1%);
}

.subtitle-desc {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-justify: auto;
  color: slategrey;
  font-size: medium;
  line-height: 1.3;
  box-sizing: inherit;
  margin: 20px 0px 0px;
  letter-spacing: inherit;
}

.subtitle-desc li {
  display: block;
  padding: 5px;
}

.expdiv {
  padding: 10px;
  display: flexbox;
  align-content: space-between;
}

.experiencebutton {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
  background-color: rgb(10, 24, 47);
  border: none;
  color: aliceblue;
  font-weight: 400;
  font-size: x-large;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.experiencebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.experiencebutton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.experiencebutton:hover span {
  padding-right: 25px;
}

.experiencebutton:hover span:after {
  opacity: 1;
  right: 0;
}
.logo_50 {
  width: 50px;
}

.logo_100 {
  width: 100px;
}
.experience-data {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.role_title {
  color: aliceblue;
  font-weight: 400;
  font-size: large;
}

.company_profile,
.responsibilities {
  color: aliceblue;
  font-weight: 400;
  font-size: medium;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
}

.projectimage img {
  width: 500px;
  transition: 2s;
  padding: 40px;
  border-radius: 50px;
  transform: translateX(100px);
}

.projectdata {
  display: flexbox;
  vertical-align: middle;
  justify-content: space-between;
}

.projectname {
  text-align: right;
  color: aliceblue;
}

.projectdescription {
  padding: 15px;
  font-size: medium;
  box-shadow: 0px 2px 2px 0px rgb(4, 19, 41);
  background-color: rgb(2, 54, 133);
  transition: 2s;
  z-index: 2;
  text-align: justify;
  border-radius: 25;
  color: aliceblue;
  transform: translateX(-100px);
  cursor: pointer;
}

.projectdescription span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index: 2;
}

.projectdescription span:after {
  content: "\00bb";
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  z-index: 2;
}

.projectdescription:hover span {
  padding-right: 25px;
  z-index: 2;
}

.projectdescription:hover span:after {
  opacity: 1;
  right: 0;
  z-index: 2;
}

.projectdescription span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index: 2;
}

.projectdescription span:after {
  content: "\00bb";
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  z-index: 2;
}

.projectdescription:hover span {
  padding-right: 25px;
  z-index: 2;
}

.projectdescription:hover span:after {
  opacity: 1;
  right: 0;
  z-index: 2;
}

#linkimagessvg {
  position: fixed;
  justify-content: space-between;
  width: 20px;
  color: aliceblue;
  text-decoration: none;
  bottom: 0;
  display: block;
}

.emaildiv {
  position: fixed;
  width: 50px;
  bottom: 0;
  right: 0;
  padding-left: 30px;
}

.emaildiv a {
  font-family: "Courier New", Courier, monospace;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: aliceblue;
}

.emaildiv li {
  display: block;
}

#linkimagessvg li {
  display: block;
}

#linkimagessvg li svg {
  padding-bottom: 10px;
  transition: transform 0.5s;
}

.vl {
  border-right: 1px solid aliceblue;
  width: 10px;
  height: 150px;
}

#linkimagessvg li svg:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
  color: aliceblue;
}

#copyrightdiv {
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(5, 35, 83);
  color: aliceblue;
}
